.nav-wrap {
  margin-left: 100px;
}

.text_btn {
  font-size: 14px;
  text-transform: uppercase;
}

.open-garage,
.open-winners {
  width: 150px;
  height: 30px;

  background-color: white;

  border: 3px solid black;
  border-radius: 15px;

  margin: 15px 10px;

  transition: .3s;
}

.open-garage:hover,
.open-winners:hover {
  cursor: pointer;
  transform: scale(1.1);
}